# Main bot
ROOM_ID=
API_KEY=
# Music bot
MUSIC_ROOM_ID=
MUSIC_API_KEY=
# AutoDJ / Icecast
AUTODJ_TOKEN=
ICECAST_PUBLIC_HOST=
ICECAST_SOURCE=source
ICECAST_PASSWORD=
ICECAST_ADMIN_PASSWORD=
ICECAST_MOUNT=stream
YOUTUBE_API_KEY=
