# Main bot
ROOM_ID=
API_KEY=
BOT1_USERNAME=Bot1
# Music bot
MUSIC_ROOM_ID=
MUSIC_API_KEY=
DJ_BOT_USERNAME=Dj
# AutoDJ / Icecast
AUTODJ_TOKEN=
ICECAST_PUBLIC_HOST=
ICECAST_SOURCE=source
ICECAST_PASSWORD=
ICECAST_ADMIN_PASSWORD=
ICECAST_MOUNT=stream
